<body>
<a href ="http://testing.gipoo.net/htcheck" target ="mainFrame">Crawler</a><br>
<a href ="http://testing.gipoo.net/html" target ="mainFrame">Tests</a><br>
<a href ="http://testing.gipoo.net/html/loadtests" target ="mainFrame">Load Tests</a><br>
<a href ="http://stuff.gipoo.net:3333" target ="mainFrame">Cruise Control RB</a><br>

</body>
